@import "../Utils/variable";

.header {
  width: 98%;
  display: flex;
  align-items: center;
  margin: 2% 0;
  padding: 20px;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;

    &__link {
      text-decoration: none;
      color: $color-primary;
      

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    img{
      width: 30%;
      padding: 2%;
  }
  
    &__nav {
        font-size: 12px;
        font-weight: 500;
        padding: 0;
        width: 60%;
        display: flex;
        justify-content: flex-end;
        gap: 0px;
  
      &__link {
        margin-left: 20px;
        
  
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}