@import "../Utils/variable";

.galleryImage {
    width: 100%;
    max-height: 829px;
    margin: 20px auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px 0;
    padding: 50px 0;
    background-color: $color-quaternary;
    border-radius: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .boxKey {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .boxTitre {
    bottom: 10px;
      left: 10px;
      position: absolute;
      color: $color-secondary;
      font-family: Montserrat;
  }

  @media screen and (max-width: 768px) {
    .galleryImage {
      width: 100%;
      margin: 2% 0;
      background-color: $color-secondary;
      padding: 10px 0;
    }
  
    .Appartement {
      .Cover_Appartement {
        max-height: 250px;
      }
    }
  }
  