@import "../Utils/variable";

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.headband {
  position: relative;
  margin: 30px auto;
  flex: 1;
  background-color: $color-tertiary;
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    cursor: pointer;
  }

  &__title {
    margin-left: 15px;
    font-family: Montserrat, sans-serif;
    color: $color-secondary;
  }

  &__button {
    margin-right: 15px;
    background-color: transparent;
    color: $color-secondary;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;

    .notflipped {
      transform: rotate(0deg);
      transition: transform 0.5s ease;
    }

    .flipped {
      transform: rotate(180deg);
      transition: transform 0.5s ease;
    }
  }

  &__content {
    padding: 15px;
    background-color: $color-quaternary;
    overflow: hidden;

    &.show {
      animation: fadeInFromTop 0.5s ease forwards;
      display: block;
    }

    &.hide {
      animation: fadeOutToTop 0.5s ease forwards;
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .headband {
    width: 100%;
    margin: 15px 0;

    &__title {
      font-size: 15px;
    }

    &__content {
      font-size: 12px;
    }
  }
}




