@import "../Utils/variable";

.headband {
  position: relative;
  margin: 30px auto;
  flex: 1;
  background-color: $color-tertiary;
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    cursor: pointer;
  }

  &__title {
    margin-left: 15px;
    font-family: Montserrat, sans-serif;
    color: $color-secondary;
  }

  &__icon {
    margin-right: 15px;
    color: $color-secondary;
    font-size: 1.5rem;
  }

  &__content {
    padding: 15px;
    background-color: $color-quaternary;
  }
}
