@import "../Utils/variable";


.host-profil {
    display: flex;
    flex-direction: row-reverse;
    gap : 10px;
  
    &__picture {
      border-radius: 50%;
      height: 100%;
      max-width: 64px;
      max-height: 64px;
      align-self: center;
    }
  
    &__name {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: end;
      flex-wrap: wrap;
      font-size: 18px;
      font-weight: 500;
      color: $color-tertiary;
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .host-profil {
  
      &__picture {
        max-width: 50px;
        max-height: 50px;
      }
  
      &__name {
        font-size: 12px;
      }
    }
  }
  