@import "../Utils/variable";

.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  &__container {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .slide {
    width: 1240px;
    height: 415px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
  }

  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color-secondary;
    height: 80px;
    cursor: pointer;
    z-index: 2;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }
}

.image-slider__title {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: $color-tertiary;

}

  