@import "../Utils/variable";

.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .slide {
    width: 1240px;
    height: 415px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
  }

  .left-arrow,
  .right-arrow {
    position: absolute;
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    color: $color-secondary;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    font-size: 2rem;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .slider__number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-secondary;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

  