@import "../Utils/variable";

.rating {
  display: flex;
  margin: 10% 0;
  justify-content: flex-end; 

  .star {
    font-size: 2rem;
    color: $color-quinary; 

    &.filled {
      color: $color-tertiary; 
    }
  }
}

@media screen and (max-width: 768px) {
  .rating {
      margin: 3% 0;
      .star{
          max-width: 24px;
          max-height: 24px;
      }
  }
}
