@import "../Utils/variable";

.tag-container {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: $color-tertiary;
  color: white;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
