@import "../Utils/variable";

.tag-container {
  display: flex;
    align-items: center;
    width: 50%;
    height: 25px;
    margin: 3% 0;
    .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-secondary;
        width: 100%;
        height: 100%;
        margin-right: 10px;
        font-size: 14px;
        background-color: $color-tertiary;
        border-radius: 15px;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
  .tag-container {
      height: 18px;
      width: 100%;
      .Tag {
          font-size: 10px;
      }
  }
}
